.wrap_users a{
    text-decoration: none;
    color: black;
}
.wrap_users,
.wrap_album{
    display: flex;
    align-items: center;
    margin: 5px;
}
.wrap_album a{
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 5px 8px;
}
