.wrap_item{
    border: 1px solid black;
    margin: 10px 5px;
    display: flex;
    justify-content: center;
}
.item_spaces{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.title_year_container p{
    margin: 0;
}
.wrap_item img{
    width: 150px;
    height: 150px;
}