.wrap_item_episod{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 24%;
    column-gap: 15px;
    row-gap: 10px;
    justify-content: center;
    padding: 20px 5px;
}
.wrap_element{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}
.wrap_btn button{
    margin: 0 10px;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    color: silver;
    border: 2px solid silver;
    padding: 5px 10px;
}
.wrap_btn button:hover{
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.header_container_episodes{
    background-color: silver;
    width: 100%;
    display: flex;
    justify-content: center;
    color: aliceblue;
}